@import "fe/scss/variables.scss";

@keyframes game-state-started {
  0% {
    animation-timing-function: $ease-out-quint;
    opacity: 1;
    transform: scale(0.7);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    animation-timing-function: $ease-out-quint;
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes game-state-done {
  0% {
    opacity: 1;
    transform: scale(0.7);
  }
  10% {
    animation-timing-function: $ease-out-quint;
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.game-state-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -100px;
  width: 800px;
  text-align: center;
  z-index: 100;

  .title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 12px;

    color: white;
    text-shadow: 0px 7px 0px fade-out(lighten($c-sky-blue, 10%), 0.2);
  }

  .subtitle {
    color: white;
  }
}

.game-state-not_started {
  transition: transform 0.1s ease-out;

  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.game-state-started {
  animation: game-state-started 1.8s forwards;
}

.game-state-won,
.game-state-lost {
  animation: game-state-done 1.8s forwards;
}
