@import "fe/scss/variables.scss";

.game {
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;

  background: linear-gradient(150deg, $c-sky-blue, #0051b4);

  .input-container {
    transition: opacity 0.75s linear;

    bottom: 50px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    width: 600px;
  }

  &.game-state-not_started,
  &.game-state-won,
  &.game-state-lost {
    .input-container {
      opacity: 0;
    }
  }
}
