.game {
  left: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;

  background: linear-gradient(150deg, #33adff, #0051b4);

  .input-container {
    bottom: 50px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    width: 600px;
  }
}
