@import "fe/scss/variables.scss";

.kana-input-field {
  border: none;
  font-family: $font-sans;
  font-size: 70px;
  line-height: 90px;
  width: 100%;
  text-align: center;

  background: transparent;
  cursor: default;
  outline: none;

  color: white;
  text-shadow: 0px 3px 0px fade-out(lighten($c-sky-blue, 10%), 0.2);
}
