@import "fe/scss/variables.scss";

.kana-input-field {
  border: none;
  font-family: $font-sans;
  font-size: 64px;
  line-height: 90px;
  width: 100%;
  text-align: center;

  background: transparent;
  cursor: default;
  outline: none;

  color: white;
}
